# Supabase Configuration
VITE_SUPABASE_URL=https://beyzubmbwygxiixuieiy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJleXp1Ym1id3lneGlpeHVpZWl5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY3NTc1MDMsImV4cCI6MjA4MjMzMzUwM30.W8ys6pvd1Z2KRPKxljvfjnMaHC0FHzPG3A91tRtL7qQ
